@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,700;1,300;1,400&display=swap');

html, body {
    width: 100%;
    margin: 0;
    height: 100%;
}

body {
    background-image: linear-gradient(to right top, #7490c3, #7794ca, #7a99d0, #7e9dd7, #81a2de, #7aace8, #72b5f0, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);    
    font-family: 'Poppins', sans-serif;
}

header {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

#left {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    color: white;
}

#right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

header img {
    height: 30px;
    width: 30px;
}

h1 {
    text-align: center;
    margin-bottom: 55px;
}

a img {
    height: 25px;
    width: 25px;
}

button {
    height: 40px;
    width: 180px;
    background-color: #41dfff;
    color: black;
    font-weight: bold;
    border: none;
    border-radius: 1.25em;

}

a {
    text-decoration: none;
    color: white;
}

#content {
    height: auto;
    width: 99%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    justify-content: space-between;
   
}