html, body {
    height: 100%;
    width: 100%;
    margin: 0;
}

header {
    height: 10%;
    background-color: #5b5e8d;
}

section {
    background-color: #d6d0c8;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

form {
    height: 40%;
    width: 30%;
    background-color: bisque;
    border: 1px solid black;
    border-radius: 1.25em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}

form div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}