@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,700;1,300;1,400&display=swap');

html, body {
    width: 100%;
    margin: 0;
    height: 100%;
}

body {
    background-image: linear-gradient(to right top, #7490c3, #7794ca, #7a99d0, #7e9dd7, #81a2de, #7aace8, #72b5f0, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);    
    font-family: 'Poppins', sans-serif;
}

header {
    height: 60px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 20px;
}

#left {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    color: white;
}

header img {
    height: 30px;
    width: 30px;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

form, form div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

form {
    height: 300px;
    width: 40%;
    border: 5px solid white;
    border-radius: 1.5em;
}

p {
    font-weight: bold;
}